{% extends 'base.html' %}
{% block content %}

<h1>Bike Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ bike.model }}</span>
        <p>Brand: {{ bike.brand }}</p>
        {% if bike.hours > 0 %}
          <p>Hours: {{ bike.hours }}</p>
        {% else %}
          <p>Hours: Brand New!</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'bikes_update' bike.id %}">Edit</a>
        <a href="{% url 'bikes_delete' bike.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form method="POST" action="{% url 'add_oilchange' bike.id %}">
        {% csrf_token %}
        {{ oilchange_form.as_p }}
        <span></span>
        <input type="submit" class="btn" value="Add Oil Change">
    </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Filter Change</th></tr>
      </thead>
      <tbody>
        {% for oil in bike.oilchange_set.all %}
          <tr>
            <td>{{oil.date}}</td>
            <td>{{oil.filterChange}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ bike.model }}'s Tools</h3>
    {% if bike.tools.count %}
      {% for socket in bike.tools.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A {{ socket.size }}mm with a {{ socket.drive }} ratchet
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Tools :(</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Available Tools</h3>
    {% if sockets.count %}
      {% for socket in sockets.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A {{ socket.size }}mm with a {{ socket.drive }} ratchet
            </span>
          </div>
          <div class="card-action">
            <form action="" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{bike.model}} Already Has All Tools Available</h5>
    {% endif %}
  </div>
</div>
<script>
    const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>
{% endblock %}