{% extends 'base.html' %}
{% block content %}

<h1>Bike List</h1>

{% for bike in bikes %}
  <div class="card">
      <a href="{% url 'detail' bike.id%}">
        <div class="card-content">
        <span class="card-title">{{bike.owner}}'s {{ bike.model }}</span>
            <p>Manufacturer: {{ bike.brand }}</p>
            {% if bike.hours == 0 %}
                <p>Hours: Brand New!</p>
            {% else %}
                <p>Hours: {{ bike.hours }}</p>
            {% endif %}
        </div>
      </a>
  </div>
{% endfor %}

{% endblock %}